Library/
Logs/
obj/
.vs/
UserSettings/
.vsconfig
Temp
*.csproj
*.sln
PuerTsProj/node_modules
Assets/Resources/**/*.meta
Assets/Resources/**/*.js
Assets/Resources/**/*.js.meta
Assets/Resources/**/*.js.map
Assets/Resources/**/*.js.map.meta
Assets/Resources/**/*.cjs
Assets/Resources/**/*.cjs.meta
Assets/Resources/**/*.cjs.map
Assets/Resources/**/*.cjs.map.meta
node_modules